<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dao.UserMapper">
  <resultMap id="BaseResultMap" type="com.example.po.User">
    <id column="oppenid" jdbcType="INTEGER" property="oppenid" />
    <result column="snakename" jdbcType="VARCHAR" property="snakename" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="class_id" jdbcType="INTEGER" property="classId" />
    <result column="headurl" jdbcType="VARCHAR" property="headurl" />
    <result column="power" jdbcType="TINYINT" property="power" />
  </resultMap>
  <sql id="Base_Column_List">
    oppenid, snakename, name, class_id, headurl, power
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user
    where oppenid = #{oppenid,jdbcType=INTEGER}
  </select>

  <select id="selectOppenId" parameterType="java.lang.String" resultType="java.lang.Integer">
    select
    count(*)
    from user
    where oppenid = #{oppenid,jdbcType=INTEGER}
  </select>

  <select id="selectPower" parameterType="java.lang.String" resultType="java.lang.Integer">
    select
    count(*)
    from user
    where oppenid = #{oppenid,jdbcType=INTEGER}
    and power = 1;
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user
    where oppenid = #{oppenid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.po.User">
    insert into user (oppenid, snakename, name, 
      class_id, headurl, power
      )
    values (#{oppenid,jdbcType=INTEGER}, #{snakename,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{classId,jdbcType=INTEGER}, #{headurl,jdbcType=VARCHAR}, #{power,jdbcType=TINYINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.example.po.User">
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="oppenid != null">
        oppenid,
      </if>
      <if test="snakename != null">
        snakename,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="classId != null">
        class_id,
      </if>
      <if test="headurl != null">
        headurl,
      </if>
      <if test="power != null">
        power,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="oppenid != null">
        #{oppenid,jdbcType=INTEGER},
      </if>
      <if test="snakename != null">
        #{snakename,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="classId != null">
        #{classId,jdbcType=INTEGER},
      </if>
      <if test="headurl != null">
        #{headurl,jdbcType=VARCHAR},
      </if>
      <if test="power != null">
        #{power,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.po.User">
    update user
    <set>
      <if test="snakename != null">
        snakename = #{snakename,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="classId != null">
        class_id = #{classId,jdbcType=INTEGER},
      </if>
      <if test="headurl != null">
        headurl = #{headurl,jdbcType=VARCHAR},
      </if>
      <if test="power != null">
        power = #{power,jdbcType=TINYINT},
      </if>
    </set>
    where oppenid = #{oppenid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.po.User">
    update user
    set snakename = #{snakename,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      class_id = #{classId,jdbcType=INTEGER},
      headurl = #{headurl,jdbcType=VARCHAR},
      power = #{power,jdbcType=TINYINT}
    where oppenid = #{oppenid,jdbcType=INTEGER}
  </update>
</mapper>